
__pycache__/
*.py[cod]
*.so

.venv/
venv/
ENV/
env/

.ipynb_checkpoints

.vscode/

.idea/


.DS_Store
Thumbs.db


*.log
*.out

*.egg-info/
dist/
build/

*.pid
*.tar
docker-compose.override.yml

*.crc
*.tmp
tmp/
metastore_db/
derby.log
spark-warehouse/
__spark_libs__/

kafka-logs/
zookeeper-data/
zookeeper-logs/

postgres_data/

*.bak
*.swp
*.swo
